@use './vars.scss';
header {
    position: fixed;
    width: 100vw;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: vars.$header;
    user-select: none;
    .right,
    .left,
    .center {
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 5;
    }
    .left {
        padding-left: 16px;
        gap: 12px;
        .element {
            cursor: pointer;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
    .center {
        justify-content: center;
        align-items: center;
        align-items: center;
        span {
            color: vars.$accent;
            user-select: none;
            cursor: default;
        }
    }
    .right {
        padding-right: 16px;
        justify-content: end;
        gap: 22px;
        .settings {
            display: flex;
            gap: 8px;
        }
        .controls {
            display: flex;
            gap: 8px;
            .element {
                cursor: pointer;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    
}