@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "JetBrains Mono";
  --background: #14101F;
  --accent: #5E479B;
  --header: #1F1930;
  --background-help: #181324;
}
::-webkit-scrollbar {
  display: none;
}
main {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
}

.container {
  overflow-y: scroll;
}